body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

header, footer {
  text-align: center;
  background-color: #111;
  color: white;
  padding: 1em 1em;
}

section {
  padding: 1em;
  max-width: 1000px;
  margin: auto;
}

h1, h2, h3 {
  color: #2c3e50;
}
p{
  font-size: 11px;
}
.project {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
  gap: 1em;
}

.project img {
  max-width: 300px;
  width: 100%;
  border-radius: 8px;
}

.project div {
  flex: 1;
  min-width: 250px;
}

a {
  color: #0077cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 700px) {
  .project {
    flex-direction: column;
    align-items: center;
  }
}
